In [1]:
#list1 is the list of six even numbers
list1 = [2,4,6,8,10,12]
print(list1)

[2, 4, 6, 8, 10, 12]

In [2]:
#list2 is the list of vowels
list2 = ['a','e','i','o','u']
print(list2)

['a', 'e', 'i', 'o', 'u']

In [3]:
#list3 is the list of mixed data types
list3 = [100,23.5,'Hello']
print(list3)

[100, 23.5, 'Hello']

In [4]:
#list4 is the list of lists called nested
#list
list4 =[['Physics',101],['Chemistry',202],
 ['Mathematics',303]]
print(list4)

[['Physics', 101], ['Chemistry', 202], ['Mathematics', 303]]

In [5]:
#initialing a list named list1
list1 = [2,4,6,8,10,12]
list1[0] #returns first element of list1

2

In [6]:
list1[3] #returns fourth element of list1

8

In [7]:
#Out of range index value for the list returns error
list1[15]

IndexError: list index out of range

In [8]:
#an expression resulting in an integer index
list1[1+4]

12

In [9]:
list1[-1] #return first element from right

12

In [10]:
#length of the list1 is assigned to n
n = len(list1)
print(n)

6

In [11]:
#Get the last element of the list1
list1[n-1]

12

In [12]:
#Get the first element of list1
list1[-n]

2

### Lists are mutable
###### In Python, lists are mutable. It means that the contents of the list can be changed after it has been created.

In [14]:
#List list1 of colors
list1 = ['Red','Green','Blue','Orange']
list1

['Red', 'Green', 'Blue', 'Orange']

In [16]:
#change/override the fourth element of list1
list1[3] = 'Black'
list1 #print the modified list list1

['Red', 'Green', 'Blue', 'Black']

## List Operations
#### 1) Concatenation

In [18]:
#list1 is list of first five odd integers
list1 = [1,3,5,7,9]
#list2 is list of first five even integers
list2 = [2,4,6,8,10]
#Get elements of list1 followed by list2
list1 + list2

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [19]:
list3 = ['Red','Green','Blue']
list4 = ['Cyan', 'Magenta', 'Yellow', 'Black']
list3 + list4

['Red', 'Green', 'Blue', 'Cyan', 'Magenta', 'Yellow', 'Black']

###### Note that, there is no change in original lists i.e., list1, list2, list3, list4 remain the same after concatenation operation. If we want to use the result of two concatenated lists, we should use an assignment operator.

In [23]:
#Join list 2 at the end of list
newList = list1 + list2
newList

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

###### The concatenation operator '+â€™ requires that the operands should be of list type only. If we try to concatenate a list with elements of some other data type, TypeError occurs.

In [24]:
list1 = [1,2,3]
str1 = "abc"
list1 + str1

TypeError: can only concatenate list (not "str") to list

#### 2) Repetition
###### Python allows us to replicate the contents of a list using repetition operator depicted by symbol *.

In [25]:

list1 = ['Hello']
#elements of list1 repeated 4 times
list1 * 4

['Hello', 'Hello', 'Hello', 'Hello']

#### 3) Membership
###### The membership operator 
##### in 
###### checks if the elementis present in the list and returns True, else returns False.

In [26]:
list1 = ['Red','Green','Blue']
'Green' in list1

True

In [27]:

'Cyan' in list1

False

###### The Operator 
##### not in 
###### transpose returns True if the element is not present in the list, else it returns False.